PROJECTS/music_genre_classification-bad/project1/code/data/*
PROJECTS/music_genre_classification-bad/project1/code/models/*
PROJECTS/music_genre_classification-bad/project1/code/predictions/*
PROJECTS/music_genre_classification-bad/project1/code/__pycache__/*